<p style="color: green"><%= notice %></p>

<h1>Equipamientos</h1>

<div id="equipments">
  <% @equipments.each do |equipment| %>
    <%= render 'equipment', equipment: equipment %>
    <p>
      <%= link_to "Show this equipment", equipment %>
    </p>
  <% end %>
</div>

<%= link_to "New equipment", new_equipment_path %>
