<p style="color: green"><%= notice %></p>

<h1>Habilidades</h1>

<table class="table" id="habilities">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Puntos de daño</th>
      <th>Descripción</th>
      <th>Raza</th>
    </tr>
  </thead>
  <tbody>
    <% @skills.each do |skill| %>
      <%= render skill %>
    <% end %>
  </tbody>
</div>

<%= link_to "Nueva Habilidad", new_skill_path, class: "btn btn-info" %>
